<div class="guidedetails-container">
    <h1>{{ guide.name }}</h1>
    <p>{{ guide.description }}</p>
    <h2>Qualifications:</h2>
    <ul>
      <li *ngFor="let qualification of guide.qualifications">{{ qualification }}</li>
    </ul>
    <h2>Specializations:</h2>
    <ul>
      <li *ngFor="let specialization of guide.specializations">{{ specialization }}</li>
    </ul>
    <h2>User Ratings:</h2>
    <div *ngFor="let rating of guide.ratings">
      <p>{{ rating.user }} rated {{ rating.rating }} stars and said:</p>
      <p>{{ rating.comment }}</p>
    </div>
  </div>
  